{% load static %}

<!DOCTYPE html>
<title>Rhinotopia</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'rpg/css/style.css' %}">
</head>

<body>
<div class="mainmenu">
<a href="{% url 'rpg:index' %}"> <input type="image"  src="/static/rpg/mainmenu.png"  width="200" height="200"></a>
</div>

<div class="logincorner">
    {% if not log_status %}
    <p>Not Connected</p>
    <a href="{% url 'rpg:login_view' %}">Log in</a>
    <a href="{% url 'rpg:signup' %}">New Account</a>

    {% else %}
    <p>{{request.user}}</p>
    <p>Numbers of character : {{request.user.profile.character_number}} /
        {{request.user.profile.character_number_max}}</p>
    <a href="{% url 'rpg:logout_view' %}">Log out</a>

    {% endif %}

</div>
{% block content %}{% endblock %}
</body>

</html>





