{% extends 'rpg/_base.html' %}

{% block content %}
{% if is_owner %}
<div class="name_character">
    <h1>{{ character.name }}</h1>
</div>
<br>

<div class="description_character">
    <h2> Description </h2>
    <p>{{ character.description }}</p>
    <h2>Characteristics</h2>
    <p>Species : {{character.specie}}</p>
    <p> Race : {{character.race}}</p>
    <p>{{character.sex}}</p>
</div>

<div class="statut_character">
    <h2>Status</h2>
    <p>Is occupied : {{character.isOccupied}}</p>
    {% if character.isOccupied %}
    <p>Finish time : {{character.finishTime}}</p>
    <p> Mission Name : {{character.mission_id}}</p>
    {% endif %}
</div>

<div class="stat_character">
    <h2> Statistics</h2>
    <p> Level {{character.level}}</p>
    <p> Experience : {{ character.experience}} / {{character.experience_needed}} XP</p>
    <p> Strength : {{character.strength}} / Intelligence : {{character.intelligence}} / Agility : {{character.agility}}</p>
    <p> Point available: {{point_available}} </p>
</div>

<div>
    {% if point_available > 0  %}
    <form action="" method="post">
        {% csrf_token %}

        <label> Strength</label><input type="image" src="/static/rpg/plus_button.png" name="strength" width="40" height="40"><br>
        <label> Intelligence</label><input type="image" src="/static/rpg/plus_button.png" name="intelligence" width="40" height="40"><br>
        <label> Agility</label><input type="image" src="/static/rpg/plus_button.png" name="agility" width="40" height="40"><br>
    </form>
    {% endif %}

    {% else %}
    <p>No access</p>
</div>

{% endif %}

{% endblock %}
