{% extends 'rpg/_base.html' %}

{% block title %}{% endblock %}

{% block content %}
{% if log_status %}
<h1>Create</h1>
<a href="{% url 'rpg:character_creation' %}">Character Creation</a>
<h1>Characters</h1>

{% if all_characters %}
<ul>

    <h2> In Mission </h2>
    {% for character in all_characters %}
    {% if character.isOccupied%}
    <li>
        <a href="{% url 'rpg:character_detail' character.id %}">{{ character.name }}</a>
    </li>
    {% endif %}
    {% endfor %}

    <h2> Available</h2>
    {% for character in all_characters %}
    {% if character.isOccupied == False %}
    <li>
        <a href="{% url 'rpg:character_detail' character.id %}">{{ character.name }}</a>
    </li>
    {% endif %}

    {% endfor %}
</ul>

{% else %}
<p>No character created.</p>
{% endif %}



<h1>Missions</h1>
{% if all_missions %}
<ul>
    {% for mission in all_missions %}
    <li>
        <a href="{% url 'rpg:mission_detail' mission.id %}">{{ mission.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No missions available.</p>
{% endif %}

{% else %}
<h1> Do a tuto to explaine how it works</h1>
{% endif %}


{% endblock %}
