{% extends 'rpg/_base.html' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
    <h1>Create</h1>
    <a href="{% url 'rpg:character_creation' %}">Character Creation</a>

    <h1>Explore</h1>
    {% if latest_place_list %}
        <ul>
            {% for place in latest_place_list %}
                <li>
                    <a href="{% url 'rpg:place_detail' place.id %}">{{ place.place_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No place to visit.</p>
    {% endif %}
{% endblock %}
