{% extends 'rpg/_base.html' %}

{% block title %}{{ mission.mission_name }}{% endblock %}

{% block content %}

    <h1>{{ mission.name }}</h1>
    <p>{{ mission.description }}
    <br>
    <p>Duration : {{ mission.duration }}</p>
    <p>Difficulty : {{mission.difficulty}}</p>
    <p>Experience Reward : {{mission.xp}}</p>
        <form method="post">
            {% csrf_token %}
            <option disabled="true">Choose a Character</option>

            <select name="characters"{% if not characters %} disabled {% endif %} >
            {% for character in characters %}<option value="{{character.id}}"> {{character.name}}</option>

            {% endfor %}
            </select>
            <input type="submit" value="Start the Quest" {% if not characters %} disabled {% endif %}></input>
        </form>


{% endblock %}
