body
{
    background-image: url("/static/rpg/background.jpg") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}


/*  _base login */
.logincorner
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

   background-image: url("/static/rpg/silver.jpg") ;
   border-style: double;
   position:absolute;
   top:0;
   right:0;
}
.mainmenu
{
   border-radius: 75px;
   background-color:#194934eb;
   position:absolute;
   top:0;
   left:0;
}

/*  CharacterCreation */
.charactercreation
{
        padding-top: 200px;
display:block;
float:left;
}

.charactercreation input[type=submit]
 {
  width: 100%;
  background-color: #305edb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.charactercreation input[type=submit]:hover
 {
  background-color: #21429c;
}

.charactercreation input[type=text], select
 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.charactercreation label{display:block;}
.charactercreation textarea{ display:block;}

/*  Character Detail  */
.main_character_detail
{
        padding-left: 10px;
        padding-top: 100px;
}

.main_character_detail form
{

background-color: purple;
}
.name_character
{
     text-align: center;
}

.description_character
{
  padding-top: 40px;
  padding-left: 50px;
}

.character_detail_parent
{
}

.character_detail_child
{
  display: inline-block;

}
.statut_character
{
  padding-top: 40px;
  padding-left: 50px;
}


.stat_character
{
  padding-top: 40px;
  padding-left: 50px;
}

/*  Index  */
.index_block
{
    text-align:center;
}

.index_div_char
{
    padding-left: 300px;
    padding-top: 70px;
    float:left;
}

.index_div_miss
{
        padding-right: 300px;
        padding-top: 70px;
        float:right;
}

.index_create
{
     text-align: center;
}


.login
{
        padding-left: 10px;
        padding-top: 250px;
}

.tutorial
{
    padding-left: 10px;
    padding-top: 250px;
    font-size: 22px;
}


/*  Mission Detail*/
.mission_detail
{
        padding-left: 10px;
        padding-top: 150px;
}

.mission_name
{
text-align: center;

}

/*  Mission Succes*/

.mission_success
{
    padding-left: 10px;
    padding-top: 250px;
}




/*  Signup */
.signup
{
    padding-right: 1000px;
    padding-left: 10px;
    padding-top: 250px;
}

.signup div
{
    padding-right: 500px;
background-color: #0C85838f;
}